<section class="container-fluid container-extended-team">

  <div class="container">

    <div class="row">

      <div class="col-xs-12">
        <h2 class="title text-center">Extended Team</h2>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.smithandcrown.com/" title="Smith + Crown" target="_blank">
              <span class="smith-crown-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://kenetic.capital/" title="Kenetic Capital" target="_blank">
              <span class="kenetic-capital-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.enuma.io/" title="Enuma Technologies" target="_blank">
              <span class="enuma-technologies-logo"></span>
            </a>
          </li>
        </ul>
        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.perkinscoie.com/en/index.html" title="Perkins Coie" target="_blank">
              <span class="perkins-coie-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://www.duoh.com/" title="Duoh" target="_blank">
              <span class="duoh-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://www.kwm.com/en/" title="King & Wood Mallesons" target="_blank">
              <span class="king-wood-mallesons-logo"></span>
            </a>
          </li>
        </ul>
        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://pepo.com/" title="Pepo" target="_blank">
              <span class="pepo-logo"></span>
            </a>
          </li>
        </ul>

      </div>

    </div>

    <div class="row">

      <div class="col-xs-12">
        <h2 class="title text-center">Early Backers</h2>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.tencent.com/zh-cn/index.html" target="_blank" title="Tencent">
              <span class="tensent-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://bppe.com/" target="_blank" title="Blackpine">
              <span class="blackpine-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.greycroft.com/" target="_blank" title="Greycroft">
              <span class="greycroft-logo"></span>
            </a>
          </li>
        </ul>
        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://500.co/" target="_blank" title="500 startups">
              <span class="startups-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://vectr.co/" target="_blank" title="Vectr">
              <span class="vectr-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://correlationvc.com/" target="_blank" title="Corrilation Ventures">
              <span class="corrilation-logo"></span>
            </a>
          </li>
        </ul>
        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://blockchainpartnerskorea.squarespace.com/" target="_blank" title="Blockchain Partners Korea">
              <span class="blockchain-partners-korea-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.kryptonite1.co/" target="_blank" title="Kryptonite1">
              <span class="kryptonite-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://svkcrypto.wordpress.com/" target="_blank" title="SVK Crypto">
              <span class="svk-crypto-logo"></span>
            </a>
          </li>
        </ul>
        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://kenetic.capital/" target="_blank" title="Kenetic Capital">
              <span class="kenetic-capital-early-backers-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://cmcryptocapital.com/" target="_blank" title="CM Crypto Capital">
              <span class="cm-crypto-capital-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="https://www.linkedin.com/in/mickhagen/" target="_blank" title="Mick Hagen">
              <span class="mick-hagen-logo"></span>
            </a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>

<section class="container container-security-auditors">

  <div class="container">

    <div class="row">

      <div class="col-xs-12">
        <h2 class="title text-center">Security Auditors</h2>
      </div>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <ul class="row">
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://zeppelin.solutions/" title="Zeppelin" target="_blank">
              <span class="z-audits-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://cure53.de/" title="Cure53" target="_blank">
              <span class="cure53-logo"></span>
            </a>
          </li>
          <li class="col-xs-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
            <a href="https://www.bokconsulting.com.au/" title="Bok Consulting" target="_blank">
              <span class="bok-consulting-logo"></span>
            </a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</section>
