<section class="container container-featured">

    <div class="col-xs-12">
      <h2 class="title text-center"><span class="thin">Featured</span> Development Partner</h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <img class="featured-img" src="https://d2l8gxdv9ws1x1.cloudfront.net/images/st-graphic.png" srcset="https://d2l8gxdv9ws1x1.cloudfront.net/images/st-graphic-2x.png" alt="Simple Token Featured Development Partner"/>
    </div>
    <div class="col-xs-12 col-sm-5">
      <p class="secondary">
        The Simple Token company is developing some of the first OpenST solutions and providing sales and marketing support to the OpenST community.
      </p>
      <p class="secondary">
        Connect with Simple Token to learn about their OpenST solutions and to kickstart your OpenST implementation.
      </p>
      <div class="btn-container">
        <a href="https://ost.com/" target="_blank" class="btn-common btn-blue">Explore Simple Token</a>
      </div>
    </div>

</section>
