<section class="container container-featured">

    <div class="col-xs-12">
      <h2 class="title text-center"> Development Partners</h2>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <img class="featured-img" src="https://d2l8gxdv9ws1x1.cloudfront.net/images/st-graphic.png" srcset="https://d2l8gxdv9ws1x1.cloudfront.net/images/st-graphic-2x.png" alt="Simple Token Featured Development Partner"/>
    </div>
    <div class="col-xs-12 col-sm-5">
      <p class="secondary">
        Any organization can build software and services on OpenST. The Foundation also supports ongoing development of OpenST and related technologies.
      </p>
      <p class="secondary">
        The OST (Open Simple Token) company is developing some of the first OpenST-based solutions and providing sales and marketing support to the OpenST community.
      </p>
      <p class="secondary">
        We encourage other companies to contact us to learn about developing on OpenST.
      </p>
      <div class="btn-container">
        <a href="https://ost.com/" target="_blank" class="btn-common btn-blue">Explore OST.COM</a>
      </div>
    </div>

</section>
