<section class="container-fluid container-jumbotron">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title">OpenST</h1>
          <p class="primary">
            The OpenST Foundation is a non-profit Hong Kong membership company. The Foundation’s mandate is to support ongoing development and utility of the OpenST protocol, provide administrative oversight to the OST token economy, and to further the OST ecosystem.
          </p>
          <p class="primary">
            Our partner, the Simple Token company, is developing some of the first OpenST solutions.
          </p>
          <div class="btn-container">
            <a href="https://ost.com/" target="_blank" class="btn-common btn-blue btn-explore">Explore Simple Token</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#token" class="btn-common btn-white btn-ost">OST Token</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
