<section class="container-fluid container-jumbotron">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="title">OpenST</h1>
          <p class="primary">
            The OpenST Foundation is a non-profit Hong Kong membership company. The Foundation’s mandate is to support the OpenST protocol and to further the OpenST developer ecosystem.
          </p>
          <p class="primary">
            OpenST is working on scalability and usability solutions for running high volume applications on Ethereum.
          </p>
          <p class="primary">
            The OpenST Protocol enables building scalable blockchain token economies through the transposition of tokens via gateways between Ethereum and utility blockchains. Additionally, the protocol includes components that enable economy administrators to design token-economies to support their community and business goals.
          </p>
          <p class="primary" style="background-color: rgba(255, 255, 255, 0.2)">
            OpenST Mosaic is a layer II protocol for scaling Dapps on Ethereum by running meta-blockchains on Ethereum to scale to thousands of transactions per second. Mosaic introduces BFT consensus rules that allow validators to leverage auxiliary systems running in parallel for block production, while millions of transactions can be finalized before the header is asynchronously committed to Ethereum. Ethereum remains the sole source of truth by locking value tokens on Ethereum while minting a utility token representation on the auxiliary systems. Validators are rewarded collaboratively based on gas consumed, thereby solving for the verifier’s dilemma. As a result, Mosaic can finalize thousands of transactions per second on Ethereum at a lower gas price.
          </p>
          <div class="btn-container" style="margin-bottom: 100px">
            <a href="#protocol-section" class="btn-common btn-blue btn-explore" title="OpenST Protocol">OpenST Protocol</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#token" class="btn-common btn-white btn-ost" title="OST Token">OST Token</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
