<section class="container container-mission">
  <div class="col-xs-12 text-center">
    <h2 class="title">We're on a mission to help mainstream organizations benefit from blockchain technologies.</h2>
    <p class="primary">
      The OpenST Foundation is dedicated to supporting initiatives that further mainstream adoption of Blockchain technologies.
    </p>
    <p class="primary">
      Founding in 2017, the OpenST Foundation provides support for the community and ecosystem. We fund ongoing development of the OpenST protocol for mainstream business tokenization, and supporting business development and marketing activities. We deploy financial and intellectual resources towards projects that can benefit the OpenST community and ecosystem.
    </p>
    <div class="btn-container">
        <a href="https://docs.google.com/document/d/13QibvDM5PjOdyVg0HzxZ-uhqb0q5a193XTcKGBwFD-A/view" target="_blank" class="btn-common btn-blue btn-explore">Governance and Mission</a>
    </div>
  </div>
</section>
