<section class="container-fluid container-network-title">
    <div class="container">
        <div class="col-xs-12">
          <h2>The OpenST Network Accelerator Program</h2>
          <h3>Develop blockchain projects in the OpenST ecosystem</h3>
        </div>
      </div>
</section>

<section class="container container-network-content">

    <div class="col-xs-12">
      <p class="primary">
        OpenST Network Accelerator grants are intended to support app developers and companies whose contributions benefit the OpenST ecosystem.
      </p>
      <p class="primary">
        Here are some <strong>sample use cases</strong>:
      </p>
      <ol class="network-use-cases">
        <li>To support Companies who wish to launch their own Branded Tokens powered by OST. Such grants could help them fund their development and implementations, incentivize and reward their developers, provide some of the OST “stake” to kickoff their token economy, and to provide some airdrop tokens to their customers to help spur initial adoption.</li>
        <li>To developers working to build on and expand the capabilities of OpenST and to create software modules and solutions to help companies manage their token economies. Examples could be: KYC-as-a-service, analytics, monitoring, notifications, and economy visualizations.</li>
        <li>To designers offering proposals for wallet skins, token branding, and other user experience enhancements.</li>
        <li>As bounties for contributors to the ecosystem.</li>
      </ol>
      <p class="primary">
        OpenST Accelerator grants can be provided to companies of all sizes, even startups with just an idea. Grants can be provided to the company, project teams, or directly to individuals in support of their contributions. Connect with us at
        <a target="_blank" href="mailto:info@openst.org">info@openst.org</a>.
      </p>
      <div class="btn-container text-center">
        <a href="https://medium.com/simple-token/the-simple-token-network-accelerator-program-grants-for-startups-and-promising-projects-6346ccc98c1a" target="_blank" class="btn-common btn-blue">Learn More</a>
      </div>
    </div>

</section>
