<section class="container-fluid container-protocol" id="protocol-section" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h2 class="title text-center"><span class="thin">OpenST</span> Protocol</h2>
          <p class="primary">
            OpenST is a protocol to support token economies in mainstream applications. The business and technical challenge we set out to solve is to enable mainstream applications to benefit from deploying their own branded crypto-backed token economies, in a scalable and cryptographically auditable manner, without needing to mint and maintain their own publicly-tradeable ERC-20 tokens.
          </p>
          <p class="primary">
            The OpenST protocol enables the creation of utility tokens on a utility blockchain while the value of those tokens is backed by staked crypto-assets on a value blockchain.
          </p>
        <p class="primary">
          OpenST 0.9.0 was released on Ethereum Testnet in November 2017 and brought to Ethereum Mainnet with OpenST 0.9.1 in December 2017. Any developer can build applications on OpenST and enhance the protocol.
        </p>
        <p class="primary">
          OpenST was further enhanced by the community with the release of OpenST 0.9.2 in March 2018 to support Airdrops, Token Transfers, Pricing Engines, Token Rules engines, and RESTful APIs. OpenST 0.9.2 was implemented on Ethereum Mainnet and used by several partner companies to stake OST and mint Branded Tokens in September 2018.
        </p>
        <p class="primary">
          All OpenST releases are made available to the community via open source license.<br/> Please explore our <a href="https://github.com/OpenSTFoundation" target="_blank" class="external-link">Github repositories</a> to discover more and to contribute to the project.
        </p>
      </div>
    </div>
    <div class="btn-container text-center" style="padding-bottom: 30px">
      <a href="https://drive.google.com/file/d/0Bwgf8QuAEOb7Z2xIeUlLd21DSjQ/view" target="_blank" class="btn-common btn-blue btn-explore" title="Read White Paper">Read White Paper</a>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 protocol">
          <h3 class="title">OpenST-Protocol</h3>
          <p class="secondary">
            The smart contracts that implement the core of the protocol. These contracts enable any organization to stake value on Ethereum and in a cryptographically auditable way mint branded tokens on a utility side-chain. Available under Apache License 2.0.
          </p>
          <div class="btn-container">
              <a href="https://github.com/OpenSTFoundation/openst-protocol" target="_blank" class="btn-common btn-white btn-github">
                View on Github
                <img src="https://d2l8gxdv9ws1x1.cloudfront.net/images/github-icon.png" style="height:25px; vertical-align: middle;"/>
              </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 protocol">
          <h3 class="title">OpenST-Platform</h3>
          <p class="secondary">
            The web3 extension and API’s for any company to integrate their branded tokens into their consumer application. Available under GNU LGPLv3 license.
          </p>
          <div class="btn-container">
              <a href="https://github.com/OpenSTFoundation/openst-platform" target="_blank" class="btn-common btn-white btn-github">
                View on Github
                <img src="https://d2l8gxdv9ws1x1.cloudfront.net/images/github-icon.png" style="height:25px; vertical-align: middle;"/>
              </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 protocol">
          <h3 class="title">OST Token Sale</h3>
          <p class="secondary">
            SimpleTokenSale is the OpenST smart contract repository for the ST public token sale. Available under the MIT License. The OST token sale was completed on 1 December 2017. Tokens were activated on 19 December as the protocol was moved to mainnet.
          </p>
          <div class="btn-container">
              <a href="https://github.com/OpenSTFoundation/SimpleTokenSale" target="_blank" class="btn-common btn-white btn-github">
                View on Github
                <img src="https://d2l8gxdv9ws1x1.cloudfront.net/images/github-icon.png" style="height:25px; vertical-align: middle;"/>
              </a>
          </div>
        </div>
    </div>
  </div>
</section>
