<section class="container-fluid container-protocol">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <h2 class="title text-center"><span class="thin">OpenST</span> Protocol</h2>
          <p class="primary">
            Simple Token ["OST"] is an ERC-20 token and OpenST is a protocol to support token economies in mainstream consumer applications. The business and technical challenge we set out to solve is to enable mainstream consumer applications to benefit from deploying their own branded crypto-backed token economies, in a scalable and cryptographically auditable manner, without needing to mint and maintain their own publicly-tradeable EIP20 tokens.
          </p>
          <p class="primary">
            The OpenST protocol enables the creation of utility tokens on a utility blockchain while the value of those tokens is backed by staked crypto-assets on a value blockchain.
          </p>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 protocol">
          <h3 class="title">OpenST-Protocol</h3>
          <p class="secondary">
            The smart contracts that implement the core of the protocol.
            These contracts enable a member company to stake value on Ethereum and in a cryptographically auditable way mint branded tokens on a utility side-chain.
            Available under Apache License 2.0.
          </p>
          <div class="btn-container">
              <a href="https://github.com/OpenSTFoundation/openst-protocol" target="_blank" class="btn-common btn-white btn-github">
                View on Github
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/open-st/images/github-icon.png" style="height:25px; vertical-align: middle;"/>
              </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 protocol">
          <h3 class="title">OpenST-Platform</h3>
          <p class="secondary">
            The web3 extension and API’s for any company to integrate their branded tokens into their consumer application. Available under GNU LGPLv3 license.
          </p>
          <div class="btn-container">
              <a href="https://github.com/OpenSTFoundation/openst-platform" target="_blank" class="btn-common btn-white btn-github">
                View on Github
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/open-st/images/github-icon.png" style="height:25px; vertical-align: middle;"/>
              </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 protocol">
          <h3 class="title">Simple Token Sale</h3>
          <p class="secondary">
            SimpleTokenSale is the OpenST smart contract repository for the ST public token sale. Available under the MIT License.
            The OST token sale was completed on 1 December 2017 with 189% target achieved.
          </p>
          <div class="btn-container">
              <a href="https://github.com/OpenSTFoundation/SimpleTokenSale" target="_blank" class="btn-common btn-white btn-github">
                View on Github
                <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/open-st/images/github-icon.png" style="height:25px; vertical-align: middle;"/>
              </a>
          </div>
        </div>
    </div>
  </div>
</section>
