<section class="container container-token">

    <div class="col-xs-12">
      <h2 class="title text-center"><span class="thin">OST Token Sale</span> </h2>
      <p class="primary">
        The Simple Token "OST" ("ST" in Etherscan) sale was held from 14 November to 1 December, 2017. Tokens were activated on 19 December, 2017.      </p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="statistic">
        <img src="https://d2l8gxdv9ws1x1.cloudfront.net/images/simple-token-logo-rgb.png" style="height:50px"/>
        <div class="info">
          <div class="info-title">OST PURCHASED</div>
          <div class="info-count">261,070,175.3 OST</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="statistic">
        <img src="https://d2l8gxdv9ws1x1.cloudfront.net/images/ether-icon.png" style="height:50px"/>
        <div class="info">
          <div class="info-title">ETH RAISED</div>
          <div class="info-count">46,828 ETH</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="statistic">
        <img src="https://d2l8gxdv9ws1x1.cloudfront.net/images/buyer-icon.png" style="height:50px"/>
        <div class="info">
            <div class="info-title">TOTAL PURCHASES</div>
            <div class="info-count">6871</div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 ">
      <div class="btn-container text-center">
      <a href="https://sale.simpletoken.org" target="_blank" class="btn-common btn-blue btn-sale">Token Sale Results</a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://medium.com/simple-token/granular-insights-from-the-simple-token-ico-532f8cbced3e" target="_blank" class="btn-common btn-white btn-medium">Learn more on Medium</a>
      </div>
    </div>

</section>

<section class="container-fluid container-token-buy"id="token">

  <div class="container text-center">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">Where to Buy OST</h2>
        <p class="primary">Did you miss the OST token sale? Here are some recommended places to purchase OST. </p>
        <div class="row">
          <div class="col-xs-12 col-sm-4 margin-30">
            <a href="https://www.okex.com/" target="_blank" title="Buy OST on Okex">
              <span class="ost-buy-okex-logo binance-logo"></span>
            </a>
            <div class="btn-container">
              <a href="https://www.okex.com/" target="_blank" class="btn-common btn-blue btn-buy" title="BUY NOW">BUY NOW</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 margin-30">
            <a href="https://www.binance.com/trade.html?symbol=OST_ETH" target="_blank" title="Buy OST on Binance">
              <span class="ost-buy-binance-logo binance-logo"></span>
            </a>
            <div class="btn-container">
              <a href="https://www.binance.com/trade.html?symbol=OST_ETH" target="_blank" class="btn-common btn-blue btn-buy" title="BUY NOW">BUY NOW</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 margin-30">
            <a href="https://www.huobi.pro/ost_eth/exchange/" target="_blank" title="Buy OST on Huobi">
              <span class="ost-buy-huobi-logo binance-logo"></span>
            </a>
            <div class="btn-container">
              <a href="https://www.huobi.pro/ost_eth/exchange/" target="_blank" class="btn-common btn-blue btn-buy" title="BUY NOW">BUY NOW</a>
            </div>
          </div>
        </div>

        <div class="row row-centered">
          <div class="col-xs-12 col-sm-4 margin-30 col-centered">
            <a href="https://www.upbit.com/" target="_blank" title="Buy OST on Upbit">
              <span class="ost-buy-upbit-logo binance-logo"></span>
            </a>
            <div class="btn-container">
              <a href="https://www.upbit.com/" target="_blank" class="btn-common btn-blue btn-buy" title="BUY NOW">BUY NOW</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 margin-30 col-centered">
            <a href="https://www.coinsuper.com/cointrade?symbol=OST%2FBTC" target="_blank" title="Buy OST on Coinsuper">
              <span class="ost-buy-coin-super-logo binance-logo"></span>
            </a>
            <div class="btn-container">
              <a href="https://www.coinsuper.com/cointrade?symbol=OST%2FBTC" target="_blank" class="btn-common btn-blue btn-buy" title="BUY NOW">BUY NOW</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
