<footer class="container-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 copyright">
        Copyright &copy; <%= Date.today.year %> OpenST Foundation. All Rights Reserved.
      </div>
      <!--<div class="col-xs-12 col-sm-5 privacy">
        Privacy Policy and Terms of Service.
      </div>-->
    </div>
  </div>
</footer>