$sprite-retina-location: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-sprite2x-v32.png";
$sprite-location: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/simple-token-sprite1x-v32.png";

@mixin icon-generator($width,$height,$posX,$posY,$offsetHover,$offsetActive,$scale:100) {
  background-image: url($sprite-location);
  background-size: 1000px * $scale/100 1000px * $scale/100;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url($sprite-retina-location);
    background-size: 1000px * $scale/100 1000px * $scale/100;
  }
  display: inline-block;
  outline: none !important;
  &:focus {
    outline: none;
    background-position: $posX * $scale/100 $posY * $scale/100;
  }
  width: $width * $scale/100;
  height: $height * $scale/100;
  background-position: $posX * $scale/100 $posY * $scale/100;
  &:hover {
    background-position: $offsetHover * $scale/100 $posY * $scale/100;
  }
  &:active {
    background-position: $offsetActive * $scale/100 $posY * $scale/100;
  }
}

.uber-banner-icon{
  @include icon-generator(46px, 32px, -10px, -196px, -10px, -10px, 70);
}
.blue-down-arrow{
  @include icon-generator(46px, 23px, -3px, -9px, -3px, -3px, 80);
}

.small-logo{
  @include icon-generator(100px, 80px, 0px, -30px, 0px, 0px, 40);
}

.download-icon{
  @include icon-generator(28px, 29px, -9px, -158px, -9px, -9px);
}

.download-icon-small{
  @include icon-generator(28px, 29px, -9px, -236px, -9px, -9px, 60);
}

.social-twitter-icon{
  @include icon-generator(98px, 98px, -765px, -19px, -881px, -881px, 55);
}

.social-linkedIn-icon{
  @include icon-generator(98px, 98px, -765px, -553px, -881px, -881px, 55);
}

.social-slideshare-icon{
  @include icon-generator(98px, 98px, -765px, -661px, -881px, -881px, 55);
}

.social-telegram-icon{
  @include icon-generator(98px, 98px, -765px, -232px, -881px, -881px, 55);
}

.social-medium-icon{
  @include icon-generator(98px, 98px, -765px, -446px, -881px, -881px, 55);
}

.social-facebook-icon{
  @include icon-generator(98px, 98px, -765px, -126px, -880px, -880px, 55);
}

.social-github-icon{
  @include icon-generator(98px, 98px, -766px, -878px, -880px, -880px, 55);
}

.social-github-icon-small{
  @include icon-generator(98px, 98px, -766px, -878px, -766px, -766px, 30);
}

.download-btn{
  &:hover{
    .download-icon{
      @include icon-generator(28px, 29px, -39px, -158px, -39px, -39px);
    }
  }
}

.jumbotron-twitter-icon{
  @include icon-generator(98px, 98px, -531px, -19px, -650px, -531px, 55);
}

.jumbotron-linkedIn-icon{
  @include icon-generator(98px, 98px, -531px, -553px, -650px, -531px, 55);
}

.jumbotron-facebook-icon{
  @include icon-generator(98px, 98px, -531px, -126px, -650px, -531px, 55);
}

.jumbotron-telegram-icon{
  @include icon-generator(98px, 98px, -531px, -234px, -650px, -531px, 55);
}

.jumbotron-medium-icon{
  @include icon-generator(98px, 98px, -531px, -446px, -650px, -531px, 55);
}
.jumbotron-github-icon{
  @include icon-generator(98px, 98px, -538px, -878px, -650px, -538px, 55);
}

.success-tick-green-icon{
  @include icon-generator(103px, 103px, -108px, -5px, -108px, -108px, 50);
}

.success-tick-white-icon{
  @include icon-generator(103px, 103px, -218px, -5px, -218px, -218px, 30);
}

.upload-image-icon{
  @include icon-generator(34px, 28px, -9px, -338px, -9px, -9px, 80);
}

.upload-image{
  &:hover{
    .upload-image-icon{
      @include icon-generator(34px, 28px, -49px, -338px, -49px, -49px, 80);
    }
  }
}

.show-password-eye-icon{
  @include icon-generator(34px, 22px, -9px, -310px, -9px, -9px, 80);
}

.input-group-addon.clicked{
  .show-password-eye-icon{
    @include icon-generator(34px, 22px, -49px, -310px, -49px, -49px, 80);
  }
}

.telegram-connect-icon{
  @include icon-generator(98px, 98px, -298px, -232px, -298px, -298px, 50);
}
.microsite-telegram-connect-icon{
  @include icon-generator(98px, 98px, -298px, -342px, -298px, -298px, 50);
}

.telegram-link{
  &:hover{
    .telegram-connect-icon{
      @include icon-generator(98px, 98px, -414px, -232px, -414px, -414px, 50);
    }
    .microsite-telegram-connect-icon{
      @include icon-generator(98px, 98px, -414px, -342px, -414px, -414px, 50);
    }
  }
}

.kyc-status-icon-approved{
  @include icon-generator(60px, 60px, -8px, -379px, -8px, -8px, 40);
}
.kyc-status-icon-pending{
  @include icon-generator(60px, 60px, -8px, -448px, -8px, -8px, 40);
}
.kyc-status-icon-denied{
  @include icon-generator(60px, 60px, -8px, -518px, -8px, -8px, 40);
}
.kyc-status-icon-pending-issue{
  @include icon-generator(60px, 60px, -8px, -764px, -8px, -8px, 40);
}
.kyc-status-modal-error-icon{
  @include icon-generator(60px, 60px, -8px, -587px, -8px, -8px, 50);
}

.modal-close-icon{
  @include icon-generator(32px, 32px, -22px, -663px, -22px, -22px, 50);
}
.modal-close-black-icon{
  @include icon-generator(32px, 32px, -22px, -712px, -22px, -22px, 50);
}

.close-accordian-icon {
  @include icon-generator(29px, 29px, -21px, -850px, -21px, -21px, 50);
}

.kyc-instructions-passport-icon{
  @include icon-generator(142px, 196px, -118px, -640px, -118px, -118px , 25);
}
.kyc-instructions-camera-icon{
  @include icon-generator(192px, 158px, -120px, -466px, -120px, -120px, 25);
}
.kyc-instructions-public-ethereum-icon{
  @include icon-generator(128px, 200px, -120px, -252px, -120px, -120px, 25);
}

.jumbotron-registration-guide-icon{
  @include icon-generator(49px, 49px, -108px, -124px, -108px, -108px, 50);
}
.jumbotron-how-to-purchase-icon{
  @include icon-generator(49px, 49px, -108px, -180px, -108px, -108px, 50);
}
.registration-guide-link-icon{
  @include icon-generator(28px, 40px, -337px, -504px, -337px, -337px, 70);
}
.token-sale-link-icon{
  @include icon-generator(30px, 40px, -337px, -554px, -338px, -338px, 70);
}
.check-your-eth-link-icon{
  @include icon-generator(22px, 36px, -338px, -699px, -338px, -338px, 70);
}
.terms-conditions-link-icon{
  @include icon-generator(35px, 37px, -337px, -604px, -337px, -337px, 70);
}
.data-sheet-link-icon{
  @include icon-generator(27px, 37px, -337px, -651px, -337px, -337px, 70);
}
.faq-link-icon{
  @include icon-generator(30px, 40px, -337px, -749px, -337px, -337px, 70);
}
.documents-link-icon{
  @include icon-generator(30px, 40px, -337px, -834px, -337px, -337px, 70);
}
.check-st-balance-link-icon{
  @include icon-generator(30px, 26px, -337px, -884px, -337px, -337px, 70);
}
.go-to-telegram-link-icon{
  @include icon-generator(30px, 26px, -337px, -799px, -337px, -337px);
}
.sale-end-blog-icon{
  @include icon-generator(37px, 32px, -337px, -919px, -337px, -337px, 60);
}
.sale-end-support-email-icon{
  @include icon-generator(37px, 29px, -337px, -957px, -337px, -337px, 60);
}
.sale-end-support-email-icon{
  @include icon-generator(37px, 29px, -337px, -957px, -337px, -337px, 60);
}
.sale-end-after-sale-guide-icon{
  @include icon-generator(30px, 40px, -337px, -749px, -337px, -337px, 50);
}

.jumbotron-links{
  &:hover{
    .jumbotron-registration-guide-icon{
      @include icon-generator(49px, 49px, -160px, -124px, -160px, -160px, 50);
    }
    .jumbotron-how-to-purchase-icon{
      @include icon-generator(49px, 49px, -160px, -180px, -160px, -160px, 50);
    }
    .registration-guide-link-icon{
      @include icon-generator(28px, 40px, -377px, -504px, -377px, -377px, 70);
    }
    .token-sale-link-icon{
      @include icon-generator(30px, 40px, -377px, -554px, -377px, -377px, 70);
    }
    .check-your-eth-link-icon{
      @include icon-generator(22px, 36px, -378px, -699px, -378px, -378px, 70);
    }
    .terms-conditions-link-icon{
      @include icon-generator(35px, 37px, -377px, -604px, -377px, -377px, 70);
    }
    .data-sheet-link-icon{
      @include icon-generator(27px, 37px, -377px, -652px, -377px, -377px, 70);
    }
    .faq-link-icon{
      @include icon-generator(30px, 40px, -377px, -749px, -377px, -377px, 70);
    }
    .documents-link-icon{
      @include icon-generator(30px, 40px, -377px, -834px, -377px, -377px, 70);
    }
    .check-st-balance-link-icon{
      @include icon-generator(30px, 26px, -377px, -884px, -377px, -377px, 70);
    }
    .go-to-telegram-link-icon{
      @include icon-generator(30px, 26px, -377px, -799px, -377px, -377px);
    }
    .sale-end-blog-icon{
      @include icon-generator(37px, 32px, -377px, -919px, -377px, -377px, 60);
    }
    .sale-end-support-email-icon{
      @include icon-generator(37px, 29px, -377px, -957px, -377px, -377px, 60);
    }
    .sale-end-after-sale-guide-icon{
      @include icon-generator(30px, 40px, -377px, -749px, -377px, -377px, 50);
    }
  }
}

.view-on-github-icon{
  @include icon-generator(98px, 98px, -299px, -127px, -300px, -300px, 35);
}

.view-on-github{
  &:hover{
    .view-on-github-icon{
      @include icon-generator(98px, 98px, -415px, -127px, -415px, -415px, 35);
    }
  }
}

.progress-total-sold-icon{
  @include icon-generator(78px, 68px, -174px, -853px, -174px, -174px, 40);
}
.progress-total-eth-icon{
  @include icon-generator(128px, 200px, -120px, -252px, -120px, -120px, 20);
}
.progress-total-usd-icon{
  @include icon-generator(36px, 68px, -126px, -852px, -126px, -126px, 50);
}
.progress-total-purchasers-icon{
  @include icon-generator(76px, 76px, -428px, -450px, -428px, -428px, 50);
}
.time-remaining-icon{
  @include icon-generator(22px, 26px, -337px, -467px, -337px, -337px, 80);
}
.kyc-process-time-icon{
  @include icon-generator(22px, 26px, -377px, -467px, -377px, -377px);
}
